@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



body { 
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#7ee87e, #FFFFFF) ;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.question {
  margin-bottom: 10px;
  text-align: justify;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display:inline-block;
  padding: 10px 20px;
  margin-right:auto;
  margin-left: auto;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.5s ease;
  align-content: center;

}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  
}

.hide{
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
      width: 80%;
  }
}